@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #EAEBEB;
}

fieldset {
  border: none;
}

:root {
  --noir: #000000;
  --gris_foncer: #2D3142;
  --gris: #4F5D75;
  --gris_clair: #BFC0C0;
  --blanc: #FFFFFF;
  --blanc_2: #EAEBEB;
  --orange: #EF8354;
}

body {
  font-family: 'Lato', sans-serif;
}

/* HEADER NAV BAR */
header {
  font-family: 'Righteous';
  background-color: var(--gris);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 auto;
  color: var(--blanc_2);
  font-size: 15px;
}

h1::before,
h1::after {
  content: '"';
  color: var(--orange);
  margin: 2px;
}

nav {
  margin: 0 20% 0 auto;
}

ul {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

li {
  margin: 5px 0;
}

.liens_nav {
  padding: 3px 10%;
  cursor: pointer;
  margin: 0 20px;
}

.liens_nav:hover {
  background-color: var(--orange);
  border-radius: 5px;
}

.dark_button {
  margin: 0 5% 0 0;
  color: var(--blanc);
  background-color: var(--gris_foncer);
  border-color: var(--gris_clair);
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

/* TABLEAU */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: solid 1px;
}

th,
td {
  margin: 2px 10px;
  border: 1px solid var(--noir);
  padding: 5px;
}

thead {
  color: var(--blanc_2);
  background-color: var(--gris);
  border: 1px solid var(--noir);
}


tbody {
  color: var(--noir);
  background-color: var(--blanc_2);
  border: 1px solid var(--noir);
}

tfoot {
  color: var(--blanc_2);
  background-color: var(--gris);
  border: 1px solid var(--noir);
}

/* LES PLATS DE LA CARTE */
h2 {
  margin: 25px 0;
  text-align: center;
}

.section_plats {
  height: 600px;
  overflow: scroll;
}

.article_plats {
  margin: 10px 5%;
  height: 120px;
  width: 90%;
  background-color: var(--blanc_2);
  border-radius: 5px;
  overflow: hidden;
}

.gris_clair {
  background-color: var(--gris_clair);
}

.img_plats {
  height: 100%;
  width: 10em;
  border-radius: 4px;
  float: left;
}

.titre_plats {
  margin: 5px;
}

.description_plats {
  height: 100%;
  text-align: center;
  font-size: 15px;
}

/* SEPARATEUR */
.separateur {
  margin: 30px 0;
  background-image: url(img/img-12.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 6px;
  width: 90%;
  height: 13em;
}

/* BLOG */
.section_blog {
  width: 80%;
  display: grid;
  grid-gap: 20px 80px;
  justify-content: center;
  align-items: center;
}

.article_blog {
  box-shadow: 0px 5px 35px 10px var(--gris_clair);
  text-align: center;
  width: 100%;
}

.img_blog {
  width: 100%;
  height: 100%;
}

/* FOOTER */
footer {
  margin-top: 25px;
  background-color: var(--gris);
  color: var(--blanc_2);
  padding: 20px 4%;
  text-align: center;
}

.link_eden_school {
  color: var(--orange);
}

h3 {
  margin: 50px 0 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.champs_age {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 250px;
  border: 0.8px solid var(--blanc_2);
}

.radio {
  display: inline-block;
  margin: 0 10px;
}

legend {
  text-align: start;
}

.input_select {
  border-radius: 5px;
}

.position_input {
  margin: 15px 0;
}

textarea {
  margin: 20px 0;
  border-radius: 5px;
}

.submit {
  margin: 15px 0;
  color: var(--blanc_2);
  background-color: var(--gris_foncer);
  border-radius: 7px;
  padding: 5px;
}

.submit:hover,
.dark_button:hover {
  background-color: var(--orange);
}

/* MEDIA */
@media screen and (min-width: 680px) {
  h1 {
    font-size: 27px;
  }

  .dark_button {
    padding: 13px;
  }

  ul {
    flex-direction: row;
  }

  .section_blog {
    grid-template: "a a";
  }

  .champs_age {
    width: 500px;
  }

  .radio {
    margin: 0 51px;
  }

  .input_select {
    border-radius: 8px;
    height: 30px;
  }

  .submit {
    height: 40px;
    width: 170px;
  }
}